@model SinavOtomasyonuProjesi.ViewModels.PageListV

@{
    ViewBag.Title = "SinavList";
}

<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#checkhall').click(function () {
            if ($(this).is(':checked'))
                $('.chkCheckBoxid').prop('checked', true)
            else
                $('.chkCheckBoxid').prop('checked', false)

        });
    });
</script>
<h6>Klasik Soru : @ViewBag.klasikssayi</h6>
<h6>Test Soru : @ViewBag.testsayi</h6>
<h6>Dogru yanlış Soru : @ViewBag.testsayi</h6>
<h6>Toplama soru Sayısı : @ViewBag.toplamsoru</h6>
<h6>Toplam puan : </h6>

<script type="text/javascript">
    function StürüKontrol() {
        var sorular = document.getElementsByName("sorular");
        if (sorular[1].checked && sorular[2].checked && sorular[3].checked)
          @Url.Action("SinavList", "SinavHazirla","hepsi");

        else if (sorular[1].checked && sorular[2].checked)
            @Url.Action("SinavList", "SinavHazirla","hepsiTK");

        else if (sorular[1].checked && sorular[3].checked)
            @Url.Action("SinavList", "SinavHazirla","hepsiTD");

        else if (sorular[2].checked && sorular[3].checked)
            @Url.Action("SinavList", "SinavHazirla","hepsiKD");

        else if (sorular[1].checked)
            @Url.Action("SinavList", "SinavHazirla","Test");

        else if (sorular[2].checked)
            @Url.Action("SinavList", "SinavHazirla","Klasik");

        else if (sorular[3].checked)
        @Url.Action("SinavList", "SinavHazirla","Dogru_Yanlis");

    }
    </script>

  
        <label class="btn btn-primary active">
            <input type="checkbox" autocomplete="off" id="stürü1" name="sorular" value="1"> Test
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" id="stürü2" name="sorular" value="2"> Klasik
        </label>
        <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" id="stürü3" name="sorular" value="3"> Doğru-Yanlış
        </label>
        <button type="submit" class="btn btn-primary" onclick=" stürükontrol()">Listele</button>
    
    <h2>Soru Listesi</h2>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel()
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-sm  btn-primary">Secimi kaydet</button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th>Sturu</th>
                    <th>Smetni</th>
                    <th> Spuan </th>
                    <th> A </th>
                    <th> B </th>
                    <th> C</th>
                    <th> D</th>
                    <th> E</th>
                    <th> DogruCevap </th>
                </tr>
            </thead>

            @foreach (var item in Model.Sorularımdr._currentItems)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="chkCheckBoxid" name="sid" value="@item.Sid" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Sturu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Smetni)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Spuan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.A)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.B)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.D)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.E)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DogruCevap)
                    </td>
                </tr>
            }

        </table>
    }
    <div class="btn-group pull-right">

        @if (Model.Sorularımdr.HasPreviousPage)
        {
            <a href="@Url.Action("Sinavlist", new { page = @Model.Sorularımdr.PreviousPage })" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Previous Page</a>
        }
        else
        {
            <a href="#" class="btn btn-sm disabled btn-primary"> Previous Page</a>
        }

        @if (Model.Sorularımdr.HasNextPage)
        {
            <a href="@Url.Action("Sinavlist", new { page = @Model.Sorularımdr.NextPage })" class="btn btn-sm btn-primary"> Next Page<i class="glyphicon glyphicon-chevron-right"></i></a>
        }
        else
        {
            <a href="#" class="btn btn-sm disabled btn-primary"> Next Page</a>
        }
    </div>



