@model SinavOtomasyonuProjesi.Models.Hocalar
@using System.Data.Entity
@using System.Linq
@{
    ViewBag.Title = "Profilim";
}

<div class="row">
    <div class="col-sm-8">
        <form id="contact-form" action="#" method="post" style=" width: 440px;padding: 20px; position: relative;margin: auto;margin-bottom: 20px;
    box-shadow: 0 0 10px 2px #1c3564;border-radius: 0 26px;overflow: hidden;background: #afe3c7;">
            <div class="contact-line">
                <button class="obligation-button" type="button" style=" width: 200px;height: 26px;line-height: 20px;
    position: relative;float:initial;font-size: 12px; top: 0;text-align: center;border-radius: 0 8px;
    background: #0d6636;cursor: pointer;color: white;outline: none;">
                    <span>PROFİLİM</span>
                </button>
            </div>
            <form id="contact-form" action="#" method="post" style=" width: 440px;padding: 40px;right:25px; position: relative;margin: auto;margin-bottom: 20px;
    box-shadow: 0 0 10px 2px #1c3564;border-radius: 0 26px;overflow: hidden;background-color:whitesmoke">

                @using (Html.BeginForm())
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group ">
                        <div style="margin-bottom: 25px;" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <div>

                                @Html.TextBoxFor(m => m.HocaAdı, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div style="margin-bottom: 25px;" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <div>

                                @Html.TextBoxFor(m => m.HocaSoyadı, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <div>

                                @Html.PasswordFor(m => m.Şifresi, new { @class = "form-control", required = "required", placeholder = "Şifre", id = "password" })
                            </div>
                        </div>

                    </div>
                 <div class="form-group ">
                     <div style="margin-bottom: 25px" class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                           <div>

                               @Html.PasswordFor(m => m.ŞifreTekrar, new { @class = "form-control", required = "required", placeholder = "Şifre Tekrar", id = "confirm_password" })
                          </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div style="margin-bottom: 25px;" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                            <div>

                                @Html.TextBoxFor(m => m.Ünvanı, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                   <h5>@ViewBag.message</h5>
                    <div style="margin-top:10px" class="form-group">
                    </div>
             <button type="submit" class="btn btn-primary btn-sm">Düzenle</button>

                }
              
            </form>
        </form>
    </div>
    <div class="col-sm-4">
        @Html.Partial("PartialKullanici")

    </div>
</div>
@section Scripts {
    <script>
                    var password = document.getElementById("password"),
                    confirm_password = document.getElementById("confirm_password");

                    function validatePassword() {
                        if (password.value != confirm_password.value) {
                            confirm_password.setCustomValidity("Şifreler Aynı Değil");
                        }
                        else {
                            confirm_password.setCustomValidity('');
                        }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
    </script>
}
